<!-- Features -->
  <div class="wrapper wrapper-style1">
    <div class="container">
      <div class="row">
        <div class="12u">
        <!-- Featured -->
          <div id="featured">
            <% yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
