<div class="row 200%">
  <div class="12u">
    <!-- Content -->
    <div id="content">
      <section class="post box">
        <header>
          <h2 class="section-headline">About Me</h2>
        </header>
        <a href="#" class="image left"><%= image_tag("me.jpg", :alt => @current_user.full_name) %></a>

        <p class="section-content">
          Like most people, I became a software engineer the old-fashioned way.
          I majored in math and economics, then took a job as news director at an NPR station.
          After that I switched into actuarial science.  Now here I am.
        </p>

        <p class="section-content">
          Makes perfect sense, right?
        </p>

        <p class="section-content">
          It&apos;s an unique path, and there&apos;s a connecting tissue in all these endeavors.
          As long as I remember, I&apos;ve loved to ask questions and solve puzzles.
          Math problems were puzzles in their purest forms.
          Acturial science was a way to get paid to solve those puzzles.
          Economics was solving puzzles related to real life public policy.
          Journalism was an opportunity to ask those exact questions to the people who had influence.
        </p>

        <p class="section-content">
          I use the skills from all three activities every day as a software engineer.
        </p>
      </section>

      <section class="post">
        <h4 class="section-headline">
          Is Economics Like Software?
        </h4>

        <p class="section-content">
          The mindset of an economict is not much different from a software security consultant.
          Both people must anticipate how an unscrupulous end-user will try to game the system.
          Trying to anticipate how someone will exploit a loophole in the tax-code is the same
          mindset needed to defend a website from a SQL injection or denial of service attack.
        </p>
      </section>

      <section class="post">
        <h4 class="section-headline">
          Journalism Teaches Good UX
        </h4>

        <p class="section-content">
          Journalism at the time was a way to ask interesting policy questions to those with influence.
          While I&apos;ve stored away my microphone for many years, but the journalism mindset will never leave me.
        </p>

        <p class="section-content">
          The mindset from journalism overlaps heavily with we in software call &quot;UX.&quot;
          Just like radio listeners, users who visit a website aren't lending their full attention.
          Crisp, vivid writing was essential.  A reporter only has one chance to capture a listener&apos; attention.
          Just like a user on an e-commerce site makes a snap judgment in a fraction of a minute.
          A one mentor gave me a pearl of wisdom that is relevant for clean web design:
          &quot;If you don&apos;t have to leave it in, you have to take it out.&apos;
        </p>
      </section>

      <section class="post">
        <h4 class="section-headline">
          <span class="group">From Actuary</span>
          <span class="group">To Developer</span>
        </h4>

        <p class="section-content">
          Any data-scientist will agree with this statement.
          A disproportionate amount of the work is simply the plumbing.
          It&apos;s organizing data.  Figuring out how to make your design scalable.
          It requires figuring out how to automate repeated manual tasks.
          It requires running a battery of tests every time a change is made to the model.
          It requires managing complexity.  In short, it&apos;s software engineering.
        </p>

        <p class="section-content">
          Over time more of my day was consumed writing actuarial software, and accounting for data flow.
          It started off with a few VBA macros in Excel.  By the end of my time, I had built an end-to-end
          audit trail using Python, and PostgreSQL.  It increased the accuracy of reported numbers, and
          reduced the time needed to produce them.
        </p>

        <p class="section-content">
          By the end of my tenure, and after passing some grueling actuarial exams, it became clear that
          building things was more interesting and satisfying than the actuarial and financial analysis portion.
          When I had that epiphany, I saved my money, made the switch, and moved to San Francisco.
        </p>

      </section>

    </div>
  </div>

</div><!-- End .row.200% -->
