<section id="banner-intro">
  <h2 class="section-headline">
    <span class="group">
      <span class="group">Software Engineer,</span>
    </span>
    <span class="group">
      <span class="group">Mathematician,</span>
      <span class="group">Reporter</span>
    </span>
  </h2>

  <div>
    <p class="section-caption">
      <span class="group group-secondary">
        <span class="group">Everything in life has</span>
        <span class="group">been a puzzle to solve.</span>
      </span>
      <span class="group group-secondary">
        <span class="group">Math puzzles as an actuary,</span>
        <span class="group">policy puzzles as a reporter</span>
      </span>
    </p>
  </div>

  <h3 class="section-caption">
    <span class="group">Software is</span>
    <span class="group">just another puzzle.</span>
  </h3>

</section>
