<ul class="contact">
  <li style="display: none"></li>

  <li>
    <span class="email icon fa-github"></span>
    <%= link_to 'GitHub', @current_user.github, target: '_blank' %>
  </li>
  <li>
    <span class="email icon fa-linkedin"></span>
    <%= link_to 'LinkedIn', @current_user.linkedin, target: '_blank' %>
  </li>
  <li>
    <span class="email icon fa-stack-overflow"></span>
    <%= link_to 'Stack Overflow', @current_user.stack_overflow, target: '_blank' %>
  </li>
</ul> <!-- end .contact -->
