<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <div id="footer" class="container">
      <!-- Copyright -->
      <div id="copyright">
        <span>&copy; <%= @current_user.full_name %> <%= Time.now.year %>,&nbsp; All rights reserved.</span>
      </div>
    </div>
</div>
