<!-- Header Wrapper -->
  <div id="header-wrapper">
    <div class="container">

      <!-- Header -->
      <div id="header">
        <div class="inner">

          <!-- Logo -->
          <h1><%= link_to @current_user.full_name, root_url %></h1>

          <% item_maker = Proc.new do |name, options={}| %>
            <% url = options[:url] || send("#{name.downcase}_path") %>
            <% flag = (active.downcase == name.downcase) %>
            <li class="<%= flag ? 'current_page_item': '' %>">
              <%= link_to name, url %>
            </li>
          <% end %>

          <!-- Nav -->
          <nav id="nav">
            <ul>
              <% ['Home','About','Blog'].each(&item_maker) %>
              <% ['Resume'].each(&item_maker) %>
              <% ['Portfolio','Contact'].each(&item_maker) %>
            </ul>
          </nav>

        </div> <!-- End Inner -->
      </div> <!-- End #header, really it's a navbar -->

      <% # The banner is passed in as an optional block %>
      <%= yield %>

    </div>
    <div id="header-wrapper-ie8"></div>
  </div>
