<!-- Header Wrapper -->
  <div id="header-wrapper">
    <div class="container">

      <!-- Header -->
      <div id="header">
        <div class="inner">

          <!-- Logo -->
          <div class="navbar-left">
            <h1><%= link_to @current_user.full_name, root_url %></h1>
          </div>

          <% item_maker = Proc.new do |name, options={}| %>
            <% flag = (active.downcase == name.downcase) %>
            <% url = options[:url] || send("#{name.downcase}_path") %>
            <% options.delete(:url) if options.include?(:url) %>
            <li class="navbar-list-item <%= flag ? 'current_page_item': '' %>">
              <%= link_to name, url, options %>
            </li>
          <% end %>

          <% menu_maker = Proc.new do %>
            <% ['Home'].each &item_maker %>
            <% item_maker.call 'Blog', url: @current_user.blog, target: '_blank' %>
            <% ['Resume','Portfolio','Contact'].each &item_maker %>
          <% end %>

          <!-- Nav -->
          <div id="nav">
            <ul class="navbar-list">
              <% menu_maker.call %>
            </ul>
          </div>

        </div> <!-- End Inner -->
      </div> <!-- End #header, really it's a navbar -->

    </div>
    <div id="header-wrapper-ie8"></div>
  </div>

  <!-- Main Wrapper -->
  <div id="navbar-offset"></div>
