<!-- Header Wrapper -->
  <div id="header-wrapper">
    <div class="container">

      <!-- Header -->
      <div id="header">
        <div class="inner">

          <!-- Logo -->
          <div class="navbar-left">
            <h1><%= link_to @current_user.full_name, root_url %></h1>
          </div>

          <% item_maker = Proc.new do |name, options={}| %>

            <% flag = (active.downcase == name.downcase) %>
            <% url = options[:url] || send("#{name.downcase}_path") %>
            <li class="navbar-list-item <%= flag ? 'current_page_item': '' %>">
              <%= link_to name, url %>
            </li>

          <% end %>

          <!-- Nav -->
          <div id="nav">
            <ul class="navbar-list">
              <% item_maker.call 'Home' %>
              <% item_maker.call 'Blog', target: '_blank' %>
              <% ['Resume','Portfolio','Contact'].each &item_maker %>
            </ul>
          </div>

        </div> <!-- End Inner -->
      </div> <!-- End #header, really it's a navbar -->

    </div>
    <div id="header-wrapper-ie8"></div>
  </div>

  <!-- Main Wrapper -->
  <div id="navbar-offset"></div>
