	<div id="page-wrapper">

		<% if defined? banner %>
			<%= render 'header', active: active, banner: banner %>
		<% else %>
			<%= render 'header', active: active %>
		<% end %>

		<!-- Main Wrapper -->
		<div id="main-wrapper">
			<div id="main" class="container">

          <%= yield %>

			</div> <!-- End #main.container -->

			<div class="clear-footer"></div>
		</div> <!-- End #main-wrapper -->

</div>

<!-- Footer Wrapper -->
<%= render 'footer' %>
