<div class="no-sidebar">
	<div id="page-wrapper">

    <%= render 'header', active: 'about' %>

		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row 200%">

						<div class="12u">
							<!-- Content -->
								<div id="content">
									<section class="box post">
										<header>
											<h2>About Me</h2>
										</header>
										<a href="#" class="image left"><img src="images/pic09.jpg" alt=""></a>
                                        <p>Vivamus ut mauris tempus sodales adipiscing in vel quam. Nam erat a posuere laoreet eget nibh sodales adipiscing in vel dolore. Phasellus vitae tristique dui. Duis arcu tortor, fringilla sed venenatis sed, pharetra ac velit. Sed in volutpat nisl. Mauris vel sagittis diam. Lorem ipsum dolor sit amet, consectetur sed adipiscing elit. Pellentesque nec metus feugiat lorem tempus suscipit eros quis accumsan.  Phasellus vitae tristique dui. Duis arcu tortor, fringilla sed venenatis sed, pharetra ac velit. Sed in volutpat nisl dolore ipsum. Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. </p>
                                        <p>Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate justo. Donec nonummy magna quis risus. Donec condimentum, urna non molestie semper quis laoreet eros quam eget ante. </p>
                                        <p>Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Proin gravida orci porttitor enim accumsan lacinia.									</p>
									</section>
								</div>

						</div>

					</div>
				</div>

			</div>

		<!-- Footer Wrapper -->
		<%= render 'footer' %>

	</div>

	<!-- Scripts -->
		<script src="assets/javascripts/jquery.min.js"></script>
		<script src="assets/javascripts/jquery.dropotron.min.js"></script>
		<script src="assets/javascripts/skel.min.js"></script>
		<script src="assets/javascripts/skel-viewport.min.js"></script>
		<script src="assets/javascripts/util.js"></script>
		<!--[if lte IE 8]><script src="assets/javascripts/ie/respond.min.js"></script><![endif]-->
		<script src="assets/javascripts/main.js"></script>

</div>
