<%= render :layout => '/pages/main', :locals => {active: 'about'} do %>

	<div class="row 200%">
		<div class="12u">
			<!-- Content -->
			<div id="content">
				<section class="post box">
					<header>
						<h2 class="section-headline">About Me</h2>
					</header>
					<a href="#" class="image left"><%= image_tag("me.jpg", :alt => @current_user.full_name) %></a>

					<p class="section-content">
						Like most people, I became a software engineer the old-fashioned way.
						I majored in math and economics, then took a job as news director at an NPR station.
						After that I switched into actuarial science.  Now here I am.
					</p>

					<p class="section-content">
						Makes perfect sense, right?
					</p>

					<p class="section-content">
						It&apos;s an unique path, and there&apos;s a connecting tissue in all these endeavors.
						As long as I remember, I&apos;ve loved asking questions and solving puzzles.
						The math degree was the purest form of puzzles.
						Acturial science was a way to use those skills and get paid to do it.
						Economics was a way to apply those same skills to real life public policy dilemmas.
						Journalism was an opportunity to ask those exact questions to the people who had influence.
					</p>

					<p class="section-content">
						I use the skills from all three paths of life every day as a software engineer.
					</p>
				</section>

				<section class="post">
					<h4 class="section-headline">
						Thinking Like An Economist
					</h4>

					<p class="section-content">
						The mindset of an economict is not much different from a software security consultant.
						Both people must anticipate how an unscrupulous end-user will try to game the system.
						Trying to anticipate how someone will exploit a loophole in the tax-code is the same
						mindset needed to defend a website from a SQL injection or denial of service attack.
					</p>
				</section>

				<section class="post">
					<h4 class="section-headline">
						Thinking Like An Journalist
					</h4>

					<p class="section-content">
						Journalism at the time was a way to ask interesting policy questions to those with influence.
						While I&apos;ve stored away my microphone for many years, but the journalism mindset will never leave me.
					</p>

					<p class="section-content">
						The mindset from journalism overlaps heavily with we in software call &quot;UX.&quot;
						Just like radio listeners, users who visit a website aren't lending their full attention.
						Crisp, vivid writing was essential.  A reporter only has one chance to capture a listener&apos; attention.
						Just like a user on an e-commerce site makes a snap judgment in a fraction of a minute.
						A one mentor gave me a pearl of wisdom that is relevant for clean web design:
						&quot;If you don&apos;t have to leave it in, you have to take it out.&apos;
					</p>

					<!--
						(Freakonomics should be required reading for all undergrads, IMHO.)
						The math courses were the building blocks to be able to tackle those questions.
						Journalism was the best way to be able to ask those interesting questions to our citizens and elected officials. -->
					</p>

					<p class="section-content">
						The switch to actuarial science and later derivatives analysis was where my love of software engineering grew.
						Good data analysis starts with good data architecture.  Best
					</p>

				</section>
			</div>
		</div>

	</div><!-- End .row.200% -->

<% end %>
