<div class="left-sidebar">
	<div id="page-wrapper">

    <%= render 'header', active: 'blog' %>

		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row 200%">

						<div class="4u 12u(mobile)">
							<!-- Sidebar -->
								<div id="sidebar">
									<section>
										<header>
											<h2>Curabitur lorem nisl dolor</h2>
										</header>
										<ul class="style2">
											<li class="first">
												<h3>Aliquam erat volutpat class aptent</h3>
												<p><span class="date">6 hours ago</span><span class="comments"><a href="#">32 comments</a></span></p>
											</li>
											<li>
												<h3>Taciti sociosqu ad litora torquent conubia</h3>
												<p><span class="date">9 hours ago</span><span class="comments"><a href="#">28 comments</a></span></p>
											</li>
											<li>
												<h3>Nostra per inceptos himenaeos suspendisse</h3>
												<p><span class="date">9 hours ago</span><span class="comments"><a href="#">28 comments</a></span></p>
											</li>
											<li>
												<h3>Nostra per inceptos himenaeos suspendisse</h3>
												<p><span class="date">9 hours ago</span><span class="comments"><a href="#">28 comments</a></span></p>
											</li>
											<li>
												<h3>Quis elementum tempor sed ullamcorper</h3>
												<p><span class="date">9 hours ago</span><span class="comments"><a href="#">28 comments</a></span></p>
											</li>
										</ul>
										<a href="#" class="button icon icon-folder-open-alt">Browse Archives</a>
									</section>
								</div>

						</div>

						<div class="8u 12u(mobile) important(mobile)">

							<!-- Content -->
								<div id="content">
									<section class="box post">
										<header>
											<h2>Left Sidebar</h2>
										</header>
										<a href="#" class="image left"><img src="images/pic08.jpg" alt=""></a>
                                        <p><strong>Vivamus ut mauris tempus</strong> sodales adipiscing in vel quam. Nam erat a posuere laoreet eget nibh sodales adipiscing in vel dolore. Phasellus vitae tristique dui. Duis arcu tortor, fringilla sed venenatis sed, pharetra ac velit. Sed in volutpat nisl. Mauris vel sagittis diam. Lorem ipsum dolor sit amet, consectetur sed adipiscing elit. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. </p>
                                        <p>Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.  Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo.</p>
                                        <p>Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.  Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo.</p>
									</section>
								</div>

						</div>

					</div>
				</div>

			</div>

		<%= render 'footer' %>

	</div>

	<!-- Scripts -->
		<script src="assets/javascripts/jquery.min.js"></script>
		<script src="assets/javascripts/jquery.dropotron.min.js"></script>
		<script src="assets/javascripts/skel.min.js"></script>
		<script src="assets/javascripts/skel-viewport.min.js"></script>
		<script src="assets/javascripts/util.js"></script>
		<!--[if lte IE 8]><script src="assets/javascripts/ie/respond.min.js"></script><![endif]-->
		<script src="assets/javascripts/main.js"></script>

</div>
