<%= render :layout => '/pages/main', :locals => {active: 'contact'} do %>

  <div class="wrapper wrapper-style1">
    <div class="container">
      <div class="row">
        <div class="12u">
          <section id="contact-intro">
            <header class="section-header">
              <h2 class="section-headline">Contact Me</h2>

              <p class="section-caption">
                <span class="group">Before getting my contact information,</span>
                <span class="group">please fill out this form verifying</span>
                <span class="group">that you&apos;re a human being, not a bot.</span>
              </p>

            </header>


          </section>
        </div> <!-- end .12u -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->

    <% begin %>
      <% html = recaptcha_tags %>
    <% except Exception => e %>
      <div style="{background: #ffcccc;}">
        <h1 style><%= "#{e.class}: #{e}" %></h1>
      </div>
    <% else %>
      <form action="?" method="POST">
        <%= html.html_safe %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button class="submit">Request Contact Information</button>
      </form>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="6u 12u(mobile)">
          <ul class="contact">
            <li>
              <span class="icon fa-home"></span>
              Please Verify That You&apos;re Not A Robot
              <% @current_user.address.gsub("\n", "<br>").html_safe %>
            </li>
            <li>
              <span class="icon fa-envelope"></span>
              Please Verify That You&apos;re Not A Robot
              <% @current_user.email %>
            </li>
            <li>
              <span class="icon fa-phone"></span>
              Please Verify That You&apos;re Not A Robot
              <% @current_user.phone %>
            </li>
            <li>
              <span class="icon fa-twitter"></span>
              Please Verify That You&apos;re Not A Robot
              <% "@#{@current_user.twitter}" %>
            </li>
          </ul> <!-- end .contact -->
        </div> <!-- end .columns -->

      </div> <!-- end .row -->
    </div> <!-- end .container -->

  </div> <!-- end .wrapper -->

<% end %>
