<%= render :layout => '/pages/main', :locals => {active: 'contact'} do %>

  <div class="wrapper wrapper-style1">
    <div class="container">
      <div class="row">
        <div class="12u">
          <section id="contact-intro">
            <header class="section-header">
              <h2 class="section-headline">Contact Me</h2>
            </header>
          </section>
        </div> <!-- end .12u -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->


    <div class="container">
      <div class="row">
        <div class="7u 12u(mobile)">
          <%= render 'contact_methods', current_user: @current_user %>
        </div>
        <div class="5u 12u(mobile)">
          <%= render 'contact_social_media', current_user: @current_user %>
        </div>
      </div> <!-- end .row -->
    </div> <!-- end .container -->

  </div> <!-- end .wrapper -->

<% end %>
