<script type='text/javascript'>
  function onClickOutside($root_path, callback) {
    $(document).on('click', function(e) {
      if ( $(e.target).closest($root_path).length > 0 )
          return;
      if ( $(e.target).is($root_path) )
          return;

      callback();
    });
  }

  function initMap() {
    var root_path = 'google_map', zoom = 15,
        lat = 37.779628, lng = -122.40663599999999;

    var root = document.getElementById(root_path);
    var $root_path = '#' + root_path;
    var $root = $($root_path);

    var map = new google.maps.Map(root, {
      zoom: zoom,
      center: new google.maps.LatLng(lat, lng),
      draggable: true,
      scrollwheel: false,
      zoomControl: true
    });
    var marker = new google.maps.Marker({
      map: map, position: new google.maps.LatLng(lat, lng)
    });

    $root.on('click', function() {
      map.setOptions({
        scrollwheel: true
      });
    });
    onClickOutside($root_path, function() {
      map.setOptions({
        scrollwheel: false
      })
    });
  }
</script>

<%= render :layout => '/pages/main', :locals => {active: 'contact'} do %>

  <div class="wrapper wrapper-style1">
    <div class="container">
      <div class="row">
        <div class="12u">
          <section id="contact-intro">
            <header class="section-header">
              <h2 class="section-headline">Contact Me</h2>
            </header>
          </section>

          <div id="google_map_container">
            <div id='google_map'></div>
          </div>
          <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer>
          </script>

        </div> <!-- end .12u -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->


    <div class="container">
      <div class="row">
        <div class="7u 12u(mobile)">
          <%= render 'contact_methods', current_user: @current_user %>
        </div>
        <div class="5u 12u(mobile)">
          <%= render 'contact_social_media', current_user: @current_user %>
        </div>
      </div> <!-- end .row -->
    </div> <!-- end .container -->

  </div> <!-- end .wrapper -->

<% end %>
