<div id="page-wrapper">
	<%= render 'header', active: 'portfolio' %>


	<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div id="main" class="container">

				<!-- Features -->
				<div class="wrapper wrapper-style1">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Featured -->
									<div id="featured">

									<section id="projects-intro">
										<header class="section-header">
											<h2 class="section-headline">
												<span class="group">Projects</span>&nbsp;/&nbsp;
												<span class="group">Portfolio</span>
											</h2>
											<p class="section-caption">
												A mixture of front end CSS and Javascript games, to full stack clones of social networking sites in the middle.
												Finally on the deep back-end of programming, low level libraries in math and meta-programming.
											</p>
										</header>

											<div class="row">
												<% @current_user.projects.each do |project| %>
													<%= render 'project', project: project %>
												<% end %>
											</div> <!-- end .row -->

										</section>

									</div>


							</div>
						</div>
					</div>
				</div>

		</div> <!-- End #main.container -->

		<div class="clear-footer"></div>
	</div> <!-- End #main-wrapper -->

</div> <!-- end #page-wrapper -->

<!-- Footer Wrapper -->
<%= render 'footer' %>
