<%= render :layout => '/pages/main', :locals => {active: 'portfolio'} do %>

	<!-- Banner -->
	<div id="banner">
		<section>
			<h2>Accumsan Nibh Blandit Interdum</h2>
			<p>Integer aliquet velit at tortor commodo eros dolor nullam veroeros.</p>
		</section>
	</div>

<% end %>
