<% dct = {active: 'splash', splash: @splash} %>
<%= render :layout => '/pages/main', :locals => dct do %>
	<!-- Banner -->
	<div id="banner">
		<% url = next_splash_path prev: @splash.rank %>
		<a href="<%= url %>">
			<section class="active">
				<p><%= @splash.p %></p>
				<h2><%= @splash.h2 %></h2>
			</section>
		</a>
	</div>
<% end %>
