<%= render :layout => '/pages/main', :locals => {active: 'splash'} do %>

	<!-- Banner -->
	<div id="banner">
		<section>
			<h2><%= @current_user.full_name %> - Software Engineer</h2>
			<p>Integer aliquet velit at tortor commodo eros dolor nullam veroeros.</p>
		</section>
	</div>

<% end %>
