<%= render :layout => '/pages/main', :locals => {active: 'splash'} do %>

	<!-- Banner -->
	<div id="banner">
		<section>
			<p>Full stack developer with a passion for</p>
			<h2>Ruby On Rails</h2>
		</section>
	</div>

<% end %>
