<div class="homepage">
	<div id="page-wrapper">

		<!-- Footer Wrapper -->
		<%= render 'footer' do %>
		<!-- Banner -->
		<div id="banner">
			<section>
				<h2>Software Engineer</h2>
			</section>
		</div> <!-- End Banner -->
		<% end %>

	</div>
</div>
