/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* We're inheriting these z-indices from our css plugin.
   All new indices must be outside this range.  */

$zMax: 20000;
$zMin: 1;

$z-layers: (
  "scrollbar": $zMax + 512,
  "navbar": $zMax + 144,
  "ghost": $zMax + 143
);

@function z($layer) {
  @return map-get($z-layers, $layer);
}

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}

@mixin center() {
  margin-right: auto;
  margin-left: auto;
}

@mixin vertical-align-center() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin expand-to-fill-contents() {
  overflow: auto;

  :before, :after {
    display: table;
    content: '';
  }
  :after {
    clear: both;
  }
}

html, body {
  background: #d0d0d0;
  min-width: 550px;
  height: 100%;
}

$headerHeight: 60px;
$footerHeight: 60px;

#page-wrapper {
  margin-top: $headerHeight;
  min-height: 100%;
}

#header-wrapper {
  z-index: z("navbar");
  position: fixed;
  width: 100%;
  top: 0;
}

#navbar-offset {
  position: absolute;
}

#page-wrapper {
  margin-bottom: -$footerHeight;
  position: relative;
}

.clear-footer {
  height: $footerHeight;
  clear: both;
}

#footer-wrapper {
  &after {
    background-image: inherit;
  }

  height: $footerHeight;
  z-index: z("navbar");
  position: relative;
  width: 100%;
}

#footer {
  @include vertical-align-center();
}

body {
  &:not(.splash) {
    #navbar-offset {
      margin-top: $headerHeight;
    }
  }

  &.splash {
    background: #32373d;

    .splash-section {
      min-height: 120px;
      clear: both;
    }

    &:not(.finished-loading) .splash-contents {
      opacity: 0;
    }

    &:not(.finished-loading) [has_delay=true] {
      opacity: 0;
      -webkit-transition: opacity 650ms ease-in-out;
      -moz-transition: opacity 650ms ease-in-out;
      -o-transition: opacity 650ms ease-in-out;
      -ms-transition: opacity 650ms ease-in-out;
      transition: opacity 650ms ease-in-out;
    }

    &.finished-loading {
      .splash-action {
          opacity: 1;
          -webkit-transition: opacity 200ms ease-in-out;
          -moz-transition: opacity 200ms ease-in-out;
          -o-transition: opacity 200ms ease-in-out;
          -ms-transition: opacity 200ms ease-in-out;
          transition: opacity 200ms ease-in-out;
        }

      .splash-contents {
          opacity: 1;

          -webkit-transition: opacity 650ms ease-in;
          -moz-transition: opacity 650ms ease-in;
          -o-transition: opacity 650ms ease-in;
          -ms-transition: opacity 650ms ease-in;
          transition: opacity 650ms ease-in;
        }
      }

    #banner {
      position: fixed;
      width: 100%;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;

      a {
        color: #ffffff;
      }


      > section {
        &:not(.active) {
          display: none;
          opacity: 0;

          -webkit-transition: opacity 400ms ease-in-out;
          -moz-transition: opacity 400ms ease-in-out;
          -o-transition: opacity 400ms ease-in-out;
          -ms-transition: opacity 400ms ease-in-out;
          transition: opacity 400ms ease-in-out;
        }

        &.active {
          display: block;
          opacity: 1;

          -webkit-transition: opacity 400ms ease-in-out;
          -moz-transition: opacity 400ms ease-in-out;
          -o-transition: opacity 400ms ease-in-out;
          -ms-transition: opacity 400ms ease-in-out;
          transition: opacity 400ms ease-in-out;
        }
      }
    }
  }
}

body.home {

  #main {
    background: #ffffff;
  }

  #banner {
    width:100%;
    min-height: 380px;
    background-image: url(asset-path('banner.jpg')) top center;
    background-size: cover;
    position: relative;

    &:after {
      content: '';
    }
  }
}

ul.banner-list {
  text-align : center;

  > li {
    display: inline;
    white-space: nowrap;
    &:after {
      content: " \00b7";
    }
    &.nobullet:after {
      content: none;
    }
  }
}

ul.contact {
  > li {
    font-weight: bold;
  }
}

section {
  position: relative;

  h2, p {
    line-height: 1em;
  }
}

.group {
  display: inline-block;
}

#banner-intro {
  padding-left: 30px;
  padding-right: 30px;

  max-width: 850px;
  left: 50%;
  transform: translateX(-50%);

  .section-caption {
    font-size: 30px;
  }
}

#copyright {
  color: #dddddd;
}

.style2 > li > h3 > a {
  color: #000000;
}

.wrapper.wrapper-style1 {
  padding-right: 2em;
  padding-left: 2em;
}

.action-item {
  * {
    font-weight: bold;
  }

  a, a:visited {
    color: #0000FF;
  }
  a:hover {
    text-decoration: underline;
  }
}

h2.section-heading {
  margin-bottom: 0.25em;
}

form.anti-spam-bot {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
