// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills-table {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 0px 30px;

  text-align: center;
  display: grid;
}

.skills-item {
  width: 140px;
  height: 130px;
  padding: 0 5px;

  text-decoration: bold;
  display: table-cell;
  margin: 20px 10px;

  display: -webkit-inline-flex; /* Safari */
  display: inline-flex;

}
