@mixin center() {
  margin-right: auto;
  margin-left: auto;
}

/* Universal */
@mixin universal() {

  #copyright span {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #header-wrapper {
    line-height: 1em;
    display: block;
  }

  .navbar-left {
    margin-left: 2em;
    width: 200px;
  }

  #skills-intro, #projects-intro {
    .section-headline {
      font-size: 35px;
    }

    .section-caption, .section-item-label {
      font-size: 26px;
    }

    .steve {
      text-align: center;
    }
  }

  h2, h3, h4, h5, h6 {
      margin: 0 0 0.75em 0;
  }

  header {
    text-align: center;
  }

  #header {
    display: block;

    .inner {
      position: relative;
      background: #474d55;
    }

    h1 {
      background: #46bdd3;
      padding: 1em 1.2em;
      line-height: 20px;
      font-size: 20px;

      a {
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }

  #nav {
    display: inline-block;
    line-height: 60px;
    height: 60px;

    > ul > li {
      display: inline;
      float: left;
      padding: 0 1.5em 0 1.5em;

      > a, > span {
        text-decoration: none;
        font-size: 14px;
        border-radius: 6px;
        outline: 0;
        color: #FFF;
      }
    }
  }

  #banner {
    section {
      p {
        line-height: 1.2em;
        font-size: 2em;
        padding-bottom: 0;
        padding-top: 0;
      }
      h2 {
        line-height: 1.2em;
        font-size: 2.5em;
      }
    }
  }

  #main-wrapper {
    padding: 0;
  }

  #main {
    padding: 20px;
  }

  #main .image.left {
    display: inline-block;
    width: inherit;
    float: left;
  }

  .box.post .image.left {
    margin-right: 1.5em;

  }

  #content {
    padding-right: 10px;
    padding-left: 10px;

    :last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  li.splash-action-item {
    display: inline-block;
    margin: 0 15px;
  }

}

/* Everything */
@include universal();

/* Mobile */
@media screen and (max-width: 736px) {
  @include universal();

  #header h2 {
    line-height: 15px;
    font-size: 15px;
  }

  .navbar-left {
    margin-left: auto;
    margin-right: auto;
  }

  #nav {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
}

/* Tablet */
@media screen and (min-width: 737px) and (max-width: 1200px) {
  @include universal();
}

/* Desktop */
@media screen and (min-width: 737px) {
  @include universal();
}
