@mixin center() {
  margin-right: auto;
  margin-left: auto;
}

/* Universal */
@mixin universal() {

  html, body {
    overflow-x: visible;
  }

  #page-wrapper {
    padding-bottom: 0;
    padding-top: 0;
  }

  #copyright span {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #header-wrapper {
    line-height: 1em;
    display: block;
  }

  .navbar-left {
    margin-left: 2em;
    width: 200px;
  }

  #content section.post {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  #content, #skills-intro, #projects-intro, #contact-intro {
    .section-headline {
      text-align: center;
      font-size: 36px;
    }

    .section-caption, .section-item-label {
      line-height: 1.3em;
      margin-top: 0px;
      font-size: 26px;
    }

    .section-content {
      line-height: 1.3em;
      margin-top: 0px;
      font-size: 14px;
    }

  }

  #skills-intro {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 20px;
    max-width: 800px;

    > * {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .section-item-label {
      font-size: 1.2em;
    }
  }

  #projects-intro {
    .section-caption, .section-item-label, .section-content {
      text-align: justify;
    }

    section.project-item {
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 30px;
      margin-top: 0px;
    }
  }

  #featured {
    header h2.section-headline {
      line-height: 1em;
      font-size: 2.5em;
    }



    .section-content {
      font-size: 1.2em;
    }
  }

  p.section-content {
    font-size: 1.3em;
    text-align: justify;
  }

  h2, h3, h4, h5, h6 {
      margin: 0 0 0.75em 0;
  }

  header {
    text-align: center;
  }

  #header {
    display: block;
    background: #474d55;

    .inner {
      max-width: 1000px;
      line-height: 0;

      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    h1 {
      background: #46bdd3;
      padding: 1em 1.2em;
      line-height: 20px;
      font-size: 20px;

      a {
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }

  #nav {
    display: inline-block;
    line-height: 60px;
    height: 60px;

    > ul > li {
      display: inline;
      float: left;
      padding: 0 1.5em 0 1.5em;

      > a, > span {
        text-decoration: none;
        font-size: 14px;
        border-radius: 6px;
        outline: 0;
        color: #FFF;
      }
    }
  }

  #banner {
    section {
      p.section-caption {
        font-size: 23px;
      }

      p {
        line-height: 1.2em;
        font-size: 2em;
        padding-bottom: 0;
        padding-top: 0;
      }

      h2 {
        line-height: 1.2em;
        font-size: 2.5em;
      }
    }
  }

  #main-wrapper {
    margin: 0;
    padding: 0;
  }

  #main {
    max-width: 1000px;
    padding: 20px;
  }

  #main .image.left {
    display: inline-block;
    width: inherit;
    float: left;
  }

  .box.post .image.left {
    margin-right: 1.5em;

  }

  #content {
    padding-right: 10px;
    padding-left: 10px;

    :last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  li.splash-action-item {
    display: inline-block;
    margin: 0 15px;
  }

  .mobile-line-break {
    display: inline;
    margin-bottom: 0.25em;
  }

}

/* Everything */
@include universal();

/* Mobile */
@media screen and (max-width: 736px) {
  @include universal();

  .mobile-line-break {
    display: block;
    clear: both;
  }

  #main .image.left {
      float: none;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
  }
  .navbar-left {
    display: none;
  }

  body:not(.splash) #navbar-offset {
    display: none;
  }

  #projects-intro .section-caption {
    font-size: 1.5em;
  }

  #header h2 {
    line-height: 15px;
    font-size: 15px;
  }


  #nav {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
}

/* Tablet */
@media screen and (min-width: 737px) and (max-width: 1200px) {
  @include universal();
}

/* Desktop */
@media screen and (min-width: 737px) {
  @include universal();
}
